services:
  app:
    build:
      context: .
      dockerfile: environment/Dockerfile
    container_name: app
    restart: unless-stopped
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - jaeger
      - prometheus