services:
  app:
    build:
      context: .
      dockerfile: environment/Dockerfile
    container_name: code_maintenance_refactoring_and_optimization
    restart: unless-stopped
    ports:
      - "5000:5000"
    env_file:
      - .env